<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TODO LIST </title>
    <link rel="stylesheet" href="assets/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <h1> DANH SÁCH NHIỆM VỤ </h1>
    <section class="section-todo-list">
        <div id="todo-list">
            <form>
                <input type="text" name="input-tasks" value="" autocomplete="off">
                <button type="submit"> Thêm </button>
            </form>
            <h2><i class="fas fa-caret-right"></i> nhiệm vụ </h2>
            <ul>
                <% if(datas.length <= 0) { %>
                    <li id="not-task"> Không có nhiệm vụ </li>
                <% }else { for(var i = 0; i < datas.length; i++) {%>
                    <li> <%= i + 1 + '. ' + datas[i].task %> </li>
                <% }} %>
            </ul>
        </div>
    </section>
    <script src="assets/jquery-3.5.1.min.js"></script>
    <script src="assets/todolist.js"></script>
</body>
</html>